<div class="card">
  <div class="card-header">
    <nav class="nav justify-content-center">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
           <button class="nav-link active" id="acudiente-tab" data-bs-toggle="tab" data-bs-target="#acudiente" type="button" role="tab" aria-controls="acudiente" aria-selected="false">Acudiente</button>
        </li>
        <li class="nav-item" role="presentation">
           <button class="nav-link" id="docente-tab" data-bs-toggle="tab" data-bs-target="#docente" type="button" role="tab" aria-controls="docente" aria-selected="true">Docente</button>
        </li>
     </ul>
    </nav>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="tab-content general col-lg-12 col-md-12 col-sm-12 col-xs-12" id="myTabContent">
        <div class="tab-pane fade show active acudiente" id="acudiente" role="tabpanel" aria-labelledby="acudiente-tab">
           <h1>Contenido primera seccion</h1>
           
            <app-ninos></app-ninos>
           
        </div>
        <div class="tab-pane fade docente" id="docente" role="tabpanel" aria-labelledby="docente-tab">
          <h1>Contenido segunda seccion</h1>
       </div>
     </div>
    </div>
  <!--Hasta aca llega el contenido-->
</div>
  </div>
<div class="card-footer text-muted">
    Footer
</div>

