
<form action="">

  <div class="col-md-9">
    <h2>Grupos</h2>
    <table class="table table-light">

      
        <thead *ngIf="listagrupos.length>0">
        <th>N°</th>
        <th>Nombre del Grupo</th>
        <th>Codigo del Grupo</th>
        <th>Fecha de Creacion del Grupo</th>
        </thead>
      <tbody>
       
        <tr  *ngFor="let listargrupos of listagrupos; index as i;"  >

            <td>{{i+1}}</td>
            <td>{{listargrupos.nombre_grupo}}</td>
            <td>{{listargrupos.codigo_grupo}}</td>
            <td>{{listargrupos.fecha_creacion}}</td>
    
          </tr>
      </tbody>
     
      <tfoot>
        <tr>
          <th></th>
        </tr>
      </tfoot>
    </table>

    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="escuchandogrupos()" type="submit" aria-label="">Listar Grupos</button>
      </span>
    
    </div>
  </div>

</form>


                <form action=""[formGroup]= "formulario_grupos" (ngSubmit)="Registrar_grupo(formulario_grupos.value)"  >

              <!-- Campo de nombre del Grupo-->
                 <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                  <div class="col-md-3">
                    <input type="text" class="form-control" name="nombre_grupo" formControlName="nombre_grupo" id="nombre_grupo" placeholder="Nombre del Grupo">
                  </div>
                </div>


                    <!-- Campo Codidgo del Salon-->
                    <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                        <div class="col-md-3">
                          <input type="text" class="form-control" name="codigo_grupo" formControlName="codigo_grupo" id="codigo_grupo" placeholder="Codigo Grupo">
                        </div>
                    </div>



                   <!-- Campo de nombre -->
                   <div class="form-group">
                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                    <div class="col-md-3">
                      <input type="text" class="form-control" name="nombre_institucion" formControlName="nombre_institucion" id="nombre_institucion" placeholder="Nombre de la Institcion">
                    </div>
                  </div>


                        <!-- Campo de fecha  de Creacion -->

                        <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                          <div class="col-md-3">
                              <label for="fechanacimiento">Fecha de Creacion</label>
                              <input type="date" class="form-control" name="fecha_creacion" formControlName="fecha_creacion" id="fecha_creacion">
                            </div>
                          </div>


                      <div class="col-md-3"></div>


                     <!-- Cedula Docente-->
                     <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                      <div class="col-md-3">
                        <input type="password" class="form-control" name="cedula_docente" formControlName="cedula_docente" id="cedula_docente" placeholder="Cedula Docente">
                      </div>
                    </div>


                    <!-- Boton -->
                    <div class="form-group">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <button type="submit" class="btn btn-dark" >Registrar Grupo</button>
                      </div>
                    </div>

                  </form>




