<div class="contenedor_global">
  <div class="contenedor_principal card">
    <div class="card-header">
      <div class="row titulo-card">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>Registrate</h1>
        </div>
      </div>
    </div>
    <div class="row contenedor_secundario">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <!-- Este es el menu que deja cambiar entre fomularios -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
           <button class="nav-link active" id="acudiente-tab" data-bs-toggle="tab" data-bs-target="#acudiente" type="button" role="tab" aria-controls="acudiente" aria-selected="false">Acudiente</button>
        </li>
        <li class="nav-item" role="presentation">
           <button class="nav-link" id="docente-tab" data-bs-toggle="tab" data-bs-target="#docente" type="button" role="tab" aria-controls="docente" aria-selected="true">Docente</button>
        </li>
     </ul>
     <!-- Hasta aca va el menu que deja cambiar entre formularios  -->
            <!-- Aca va el contenido -->
              <div class="row">
                <div class="tab-content general col-lg-12 col-md-12 col-sm-12 col-xs-12" id="myTabContent">
                  <div class="tab-pane fade show active acudiente" id="acudiente" role="tabpanel" aria-labelledby="acudiente-tab">
                       <!-- Aca arranca el fomulario de los acudientes -->
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 formulario_acudiente">
                         <div class="card" >
                           <div class="card-body ">
                             <div class="row">
                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 columnaform">
                                 <form [formGroup]="formulario_acudiente" (ngSubmit)="Registrar_acudiente(formulario_acudiente.value)">
                                   <div class="form-group campos">
                                    <input type="text" class="form-control" id="cedula_acudiente" name="cedula_acudiente" placeholder="Cedula" formControlName="cedula_acudiente" required>
                                   </div>
                                   <div class="form-group">
                                      <input type="text" class="form-control" id="nombre_acudiente" name="nombre_acudiente" placeholder="Nombre" formControlName="nombre_acudiente" required>
                                   </div>
                                   <div class="form-group ">
                                       <input type="text" class="form-control" id="apellido_acudiente" name="apellido_acudiente" placeholder="Apellido" formControlName="apellido_acudiente" required>
                                 </div>
                                   <div class="form-group">

                                         <input type="text" class="form-control" id="telefono_acudiente" name="telefono_acudiente" placeholder="Telefono" formControlName="telefono_acudiente" required>

                                   </div>
                                   <div class="form-group ">

                                         <input type="password" class="form-control" id="clave_acudiente" name="clave_acudiente" placeholder="Clave" formControlName="clave_acudiente" required>

                                   </div>
                                   <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <button type="submit" class="btn btn-success" >Registrar</button>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <a href="/login">iniciar sesion</a>
                                    </div>
                                   </div>
                                 </form>
                               </div>
                              <!--  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 imagen">
                                 <img src="../../../assets/indicador.png" alt="" width="500px">
                               </div> -->
                             </div>
                           </div>
                         </div>
                       </div>
                       <!-- Hasta aca llega el formulario de los acudientes -->
                  </div>
                  <div class="tab-pane fade docente" id="docente" role="tabpanel" aria-labelledby="docente-tab">
                      <!-- Aca arranca el fomulario de los docentes -->
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 formulario_docente">
                           <div class="row">
                            <!--  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                               <h1>hola imgen</h1>
                             </div> -->
                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 formulario">
                                 <div class="card" >

                                   <div class="card-body ">
                                     <form [formGroup]="formulario_docente" (ngSubmit)="Registrar_docente(formulario_docente.value)">
                                       <div class="form-group ">

                                           <input type="text" class="form-control" id="cedula_docente" name="cedula_docente" placeholder="Cedula" formControlName="cedula_docente" required>

                                       </div>
                                       <div class="form-group">

                                             <input type="text" class="form-control" id="nombre_docente" name="nombre_docente" placeholder="Nombre" formControlName="nombre_docente" required>

                                       </div>
                                       <div class="form-group ">

                                           <input type="text" class="form-control" id="apellido_docente" name="apellido_docente" placeholder="Apellido" formControlName="apellido_docente" required>

                                     </div>
                                       <div class="form-group">

                                             <input type="text" class="form-control" id="telefono_docente" name="telefono_docente" placeholder="Telefono" formControlName="telefono_docente" required>

                                       </div>
                                       <div class="form-group">

                                           <input type="text" class="form-control" id="institucion_docente" name="institucion_docente" placeholder="Institucion" formControlName="telefono_docente" required>

                                       </div>
                                       <div class="form-group ">

                                             <input type="password" class="form-control" id="clave_docente" name="clave_docente" placeholder="Clave" formControlName="clave_docente" required>

                                       </div>
                                       <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                          <button type="submit" class="btn btn-success" >Registrar</button>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                          <a href="/login">iniciar sesion</a>
                                        </div>
                                       </div>
                                     </form>
                                   </div>
                                 </div>
                             </div>
                     </div>
                      <!-- Hasta aca llega el formulario de los docentes -->
                 </div>
               </div>
              </div>
            <!--Hasta aca llega el contenido-->
          </div>
        </div>
      </div>

  </div>
</div>
