
<div class="row">
  <!-- Card para mostrar los niños registrados -->
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
   <div class="card">
    <div class="card-body">
      <h1>Aca traigo los niños</h1>
    </div>
   </div>
  </div>

  <!-- Card para agregar los niños -->
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form class="form-horizontal" [formGroup]= "formulario_nino" (ngSubmit)="Registrar_nino(formulario_nino.value)">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <!-- Campo de identificacion -->
                  <div class="form-group">
                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                      <div class="col-md-8">
                        <input type="email" class="form-control" name="identificacion" formControlName="identificacion" id="identificacion" placeholder="Numero Identidad">
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <!-- Campo de nombre -->
                  <div class="form-group">
                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                    <div class="col-md-8">
                      <input type="password" class="form-control" name="nombre" formControlName="nombre" id="nombre" placeholder="Nombre">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <!-- Campo de apellido -->
                  <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                      <div class="col-md-8">
                        <input type="password" class="form-control" name="apellido" formControlName="apellido" id="apellido" placeholder="Apellido">
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <!-- Campo de fechanacimiento -->
                        <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                          <div class="col-md-8">
                            <label for="fechanacimiento">Fecha de nacimiento</label>
                            <input type="date" class="form-control" name="fechanacimiento" formControlName="fechanacimiento" id="fechanacimiento">
                          </div>
                        </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Campo de genero -->
                    <div class="form-group">
                      <div class="col-md-8">
                        <label for="genero">Genero</label>
                        <select class="form-control" name="genero" formControlName="genero" id="genero" >
                          <option selected value="femenino">Femenino</option>
                          <option value="masculino">Masculino</option>
                        </select>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <!-- Campo de parentesco -->
                  <div class="form-group">
                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                    <div class="col-md-8">
                      <input type="password" class="form-control" name="parentesco" formControlName="parentesco" id="parentesco" placeholder="Prentesco">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <!-- Boton -->
                  <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                      <button type="submit" class="btn btn-dark" >Registrar</button>
                    </div>
                  </div>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
