<div class="card">
  <div class="card-header">
    Header
  </div>
  <div class="card-body">
   <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <h1> Bienvenido al sistema gestor de informacion mapi</h1>
      <img src="../../../assets/bienvenida.png" width="400px">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

      <a mat-button  href="/registrar">Registrar</a>
      <a mat-button  href="/login">iniciar sesion</a>


    </div>
   </div>
  </div>
</div>
